
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
        <h1>Add New Company</h1><hr>
        <form method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit" name="button" class="btn btn-success">Submit Record</button>
        </form>
      </div><br><br>

    </div>
  </body>
</html>
