<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie List Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/movie.css' %}">
</head>
<body>
<div class="container" align="center">
  <h2>Movies Informations</h2><hr>
  {% if movie %}
    <table>
      <thead>
        <th>Movie Name</th>
        <th>Rilease Date</th>
        <th>Hero</th>
        <th>Heroin</th>
        <th>Rating</th>
      </thead>
      {% for m in movie %}
      <tr>
        <td>{{m.moviename}}</td>
        <td>{{m.rdate}}</td>
        <td>{{m.hero}}</td>
        <td>{{m.heroin}}</td>
        <td>{{m.rating}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <h2>No Record Found</h2>
    {% endif %}
</div>
</body>
</html>
