<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% block title_block %} {{post.title}} {% endblock %}

      {% block contain %}
       {% if sent %}
       <h1>Email Sent Success...</h1>
       <h2>Post {{post.title}} Sent..</h2>
       {% else %}
        <div class="jumbotron">
          <div class="container">
          <form method="post">
            <h2>Sent {{post.title}} Post by Mail</h2>
            {{form.as_p}}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg" name="button">Send Mail</button>
          </form>
          </div>
        </div>
        {% endif %}
      {% endblock %}
