<!DOCTYPE html>
{% extends 'myapp/base.html'%}
    {% block body_block%}
    <div class="jumbotron">
      <div class="container" align="center">
        <h1 align="center">Welcome To Business News Portals</h1><hr>
          <p>Business texting is a popular communication method for people in the business world. Businesses use text messaging applications to send and receive messages via text. ... Consumers can use mobile phones to send and read businesses messages at any given moment.</p>
      </div>

    </div>

    {% endblock%}
