<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
  </head>
  <body>
  {% load cust_filter %}
    <div class="container" align="center">
      <h2>Student Form</h2><hr>
      {% for r in data_list %}
      <ul>
        <li>{{r.name | truncate5}}</li>
        <li>{{r.subject | t_n:3}}</li>
        <li>{{r.dept | upper}}</li>
        <li>{{r.date | upper}}</li>
      </ul><hr>
      {% endfor %}
    </div>
  </body>
</html>
