<!DOCTYPE html>
{% extends 'myapp/base.html'%}
{% block block_body %}
<div class="jumbotron">
  <h1>Update Employee Record.</h1><hr>
  <form method="post">
    {% csrf_token %}
    Employee Number: <input type="text" name="eno" value="{{emp.eno}}"><br><br>
    Employee Name: <input type="text" name="ename" value="{{emp.ename}}"><br><br>
    Employee Salary: <input type="text" name="esal" value="{{emp.esal}}"><br><br>
    Employee Address: <input type="text" name="eaddr" value="{{emp.eaddr}}"><br><br>
    <input type="submit" class="btn btn-primary btn-lg" value="Update Record">

  </form>
</div>
{% endblock %}
