<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Template</title>
    <style type="text/css">
        table, tr, th, td{
        border: 2px solid red;
        color: blue;
        background: yellow;
        text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>StdNo</th>
            <th>StdName</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>101</td>
            <td>pinu</td>
            <td>Pass</td>
        </tr>
        <tr>
            <td>102</td>
            <td>Adi</td>
            <td>Pass</td>
        </tr>
    </table>
</body>
</html>