<!DOCTYPE html>
{% extends 'myapp/base.html'%}
{% block title_block %}Online DatingApp{% endblock %}
{% block content%}
    <div class="row">
      <div class="col-lg-12">



            <div class="container">

                <div class="contain">

                  <h1 id="tc">Online Dating App</h1>
                  <h3 id="tc1">It's For Fun..</h3><hr>
                  <a href="#" class="btn btn-danger btn-lg">Get Started</a>

                </div>

            </div>
        </div>
    </div>

{% endblock %}
