<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/myfile.css' %}" type="text/css">
</head>
<body>
    <div class="container" align="center">
        <h2>TEAM INFORMATION </h2><hr>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Resister" class="btn btn-primary">
        </form>
        <a href="http://127.0.0.1:8000/show/">SHOW PLAYER LIST</a>
    </div>

</body>
</html>