<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MOVIES NEWS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mynews.css' %}">
  </head>
  <body>
    <h1>MOVIES NEWS PORTAL</h1>
    <img src="{%static 'images/1.jpg'%}" >
    <img src="{%static 'images/business.jpg'%}" >
    <img src="{%static 'images/cricket.jpg'%}" >
    <ul>
      <li>{{ news1 }}</li>
      <li>{{ news2 }}</li>
      <li>{{ news3 }}</li>
      <li>{{ news4 }}</li>
      <li>{{ news5 }}</li>
      <li>{{ news6 }}</li>
      <li>{{ news7 }}</li>

    </ul>

  </body>
</html>
