<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NEWS HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mynews.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron" align='center'>
        <h1>WELCOME TO LIPUN SOFT</h1>
      <a class="btn btn-primary btn-lg" href="/emp" role="button">Employee Info</a>&nbsp&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/stu" role="button">Student Info</a>&nbsp&nbsp&nbsp&nbsp
      <a class="btn btn-primary btn-lg" href="/movie" role="button">Movies News</a>
    </div>

    </div>


  </body>
</html>
