<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MODELS</title>
    <link rel="stylesheet" href="{% static 'css/welcome.css'%}">
</head>
<body>
    <h1>Student List.....</h1><hr>
    {% if elist %}
    <table border="2px">
        <thead>
            <th>EID</th>
            <th>ENAME</th>
            <th>ESAL</th>
            <th>EADDR</th>
        </thead>
        {% for emp in elist %}
        <tr>
            <td>{{ emp.Sid }}</td>
            <td>{{ emp.Sname }}</td>
            <td>{{ emp.Ssal }}</td>
            <td>{{ emp.Saddr }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Sorry No Record Found.....</h2>
    {% endif %}
</body>
</html>
